extends ./../layouts/_main.layout.pug

block append head
  title Delete questions
  link(rel="stylesheet", href="/assets/css/user/delete.questions.css")

block container
  div(id='categories col-xs-12 col-md-12 col-lg-12')
    h1.text-center List of your questions
    .five-random.col-xs-12.col-md-12.col-lg-12
      .five-random-header.col-xs-12.col-md-12.col-lg-12
        .question.text-center.col-xs-8.col-md-8.col-lg-8 Topic
        .stats.col-xs-2.col-md-2.col-lg-2.text-center Statistics
        .author.col-xs-2.col-md-2.col-lg-2.text-center Question Id
      .five-random-body.col-xs-12.col-md-12.col-lg-12
        .topic.col-xs-12.col-md-12.col-lg-12
          .body-question.col-xs-8.col-md-8.col-lg-8
            a.question-link(href='') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, obcaecati.
          .body-stats.col-xs-2.col-md-2.col-lg-2
            .text-center
              span.glyphicon.glyphicon-comment(aria-hidden='true')
              |  Replies :
              span.replies 1024
            .text-center
              span.glyphicon.glyphicon-eye-open(aria-hidden='true')
              |  Views : 
              span.points 2222
          .body-author.col-xs-2.col-md-2.col-lg-2.text-center.vcenter
            .col-xs-12.col-md-12.col-lg-12.vcenter
              span.span-date iosdf84ohfrenlf8987
        form(action='', method='POST')
          .form-group
            label(for='questionId') Place in the Id of the question you want to remove
            input.form-control(type='text', name='questiondId')
          button.btn.btn-default.push-right Submit
