
    h2
      span.glyphicon.glyphicon-info-sign(aria-hidden='true')
      |  Please read these rules before asking
      |                     a question
    |                 
    .spans.col-lg-12
      span.bold 1.
      |  Write only in english!
      |                     
      br
      |                     
      span.bold 2.
      |  Make sure the question you ask is not already answered!
      |                     
      br
      |                     
      span.bold 3.
      |  Be specific!
      |                     
      br
      |                     
      span.bold 4.
      |  Use 
      a(href='http://www.pastebin.com') Pastebin
      |  for your code.